
#banner {
    background-color: teal;


}


body {
    background: whitesmoke;
    color: darkgray;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}